#nav{
    position: sticky;
    top: 0;
    z-index: 99999;
}
li{
    text-align: center
}
.link:hover{
    background-color: darkblue;
}

#map{
    margin-left: 330px;
}
#gmail{
    text-decoration: none;
}
#instagram{
    text-decoration: none;
    text-align: left;
}
#contact_2 h3{
    display: inline;
}
#contact_2{
    background-color: aquamarine;
}
.environment_li{
    margin-top: 13px;
}
.environment_li h4{
    border-bottom: 1px solid white;
    padding: 8px;
}
.environment_li img{
    border-radius: 25px;
}
.environment_li p{
    margin-top: 10px;
}